*{
	font-family: arial;
	/*border: 1px solid black;*/
}

body{
	min-height: 500px;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	margin-top: 80px;
	width: 100%;
  position: relative;
}
.navbar {
  height: 80px;
  width: 100%;
  background-color: white;
  box-shadow: 3px 0px 5px rgb(197, 197, 197);
  position: fixed;
  padding: 20px 40px;
  box-sizing: border-box;
  display: flex;
  left: 0;
  top: 0;
  z-index: 10;
}
p {
	font-size: 14px;
}
#det{
	color: #6b6e6a;
	font-size: 10px;	
}
h4{
	color: #18b50d;
}

div{
	padding: 10px;
}

a{text-decoration: none;}

#gambar{
	border: 4px solid skyblue;
	border-radius: 10px	;
}

#black{
	color: black;
}
#box{
	border: 1px solid #CCC;
	border-radius: 10px	;	
	min-height: 300px;
}

#wrap{
	display: flex;
  align-items: flex-start;
	justify-content: space-around;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
#detail{
	width : 500px;
	margin-top: 20px;
}

.sticky {
  position: sticky;
  top: 120px;
}

.sticky2{
  position: sticky;
  top: 180px;
}


#more{
	display: none;
	font-size: 14px;
}

#trim{
	display: inline;
	font-size: 14px;
}

button{
	font-weight: bold;
}

.qty{
	padding:5px 15px;/*TOP/BOTTOM , LEFT/RIGHT*/
	font-size: 16px;
	color: #777;
	border: 1px solid #777;
	border-radius: 4px;
	text-align: center;
}
.btn1{
	display: block;
	margin: auto;
	color: white;
	font-family: arial;
	font-weight: bold;
	background-color: #14e00d;
	border: 0px;
	border-radius: 12px;
	padding: 12px;
	width: 100%;
}

.btn2min{
	background-color: white;
	padding:5px 15px;/*TOP/BOTTOM , LEFT/RIGHT*/
	font-size: 16px;
	color: #777;
	border: 1px solid #777;
	border-radius: 4px;
	text-align: center;
}
.btn2plus{
	background-color: white;
	padding:5px 15px;/*TOP/BOTTOM , LEFT/RIGHT*/
	font-size: 16px;
	color: #777;
	border: 1px solid #777;
	border-radius: 4px;
	text-align: center;
}

#btn3{
	background-color: white;
	border: 0;
	padding: 0;	
	color: #18b50d;
}

.btn4{
	display: block;
	margin: auto;
	font-family: arial;
	font-weight: bold;
	background-color: white;
	padding: 12px;
	border: 2px solid #18b50d;
	border-radius: 12px;
	color: #18b50d;
	width: 100%;
}

.btn4:hover{
	border: 2px solid #127a00;
	color: #127a00;
}

.qty:focus{
	color: #32c900;
	border: 1px solid #32c900;
	outline: 0;
}
.btn2min:hover{
	color: #32c900;
	border: 1px solid #32c900;
}
.btn2plus:hover{
	color: #32c900;
	border: 1px solid #32c900;
}

.btn1:hover{
	background-color: #0b6e2f;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#cleartd{
	padding: 0px 30px;
}

.card{
	border: 1px solid #707070;
	display: flex;
	margin: 20px;
	border-radius: 10px;
}
.center{
	display: flex;
	padding: 0;
	margin: 0;
	align-items: center;
}

.bottom{
	margin: 0;
	display: flex;
	padding: 0;
	align-items: flex-end;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.delete{
  width: 25px;
  height: 25px;
  margin-right: 20px;
  background-size: cover;
}

.image{
	width: 25px; 
	height: 25px;
	background-image: url("../images/bin.png") ;
}