a{
  text-decoration: none;
  color: white;
  font-family: arial;
}

body {
  font-size: 11.5pt;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 609px;
}
table {
  table-layout: fixed;
}

td{
	border: 1px solid black;
	padding: 5px 10px;
}

th {
	padding: 10px;
	background-color: #1aa344;
	color: white;
}

button{
  border-radius: 10px;
  border: 0px;
  background-color: grey;
	color: white;
	padding: 10px;
}

.btn1{
  background-color: #d60d24;
  padding: 15px 10px 15px 10px;
}

.btn2{
  color: white;
  background-color: #0d1eba;
  padding: 15px 10px 15px 10px;
}

.btn{
	font-weight: bold;
	background: rgba(0,0,0,0);
	border: 0;
	padding: 0;	
	color: #25cc33;
}

/*#btn3-2{
	font-weight: bold;
	background: rgba(0,0,0,0);
	border: 0;
	padding: 0;	
	color: #fa2020;
}*/

.btn4{
  display: block;
  margin: auto;
  background-color: #4acc33;
  padding: 15px 10px 15px 10px;
}

.btn1:hover{
  background-color: #f5112b;
}

.btn2:hover{
  background-color: #1128f7;
}

.btn4:hover{
  background-color: #31ff0d;
}

.more{
	display: none;
	font-size: 14px;
}

.trim{
	display: inline;
	font-size: 14px;
}

#lgtxt{
	width: 400px;
	height: 400px;
}

input[type=text], input[type=number]{
	align: left;
  border-radius: 15px;
  border: 2px solid #73AD21;
  padding: 10px;
  width: 400px;
  height: 20px;
}

textarea, select{
	border-radius: 15px;
  border: 2px solid #73AD21;
  padding: 10px;
}

#navbar{
	width: 1329px;
	margin: 0;
	padding: 8px;
	border-radius: 12px;
	border-bottom: 2px solid #1aa344;;
	display: flex;
	justify-content: space-between;
}

.fixtbl1{
	display:table-cell;
	width:100px;
	min-width:100px;
}

.fixtbl2{
	display:table-cell;
	width:350px;
	min-width:35	0px;
}

label{
	font-weight: bold;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}